[Unit]
Description="Run tractstack build process"

[Service]
WorkingDirectory=/home/t8k/sandbox/sandbox_ZZZZZ/scripts
ExecStart=/home/t8k/sandbox/sandbox_ZZZZZ/scripts/build.sh
