:root {
  --font-main: "Font-Main";
  --font-action: "Font-Action";
}

/*
@font-face {
  font-family: "Font-Main";
  src: url("");
  font-display: swap;
}
@font-face {
  font-family: "Font-Main";
  src: url("");
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Font-Action";
  src: url("");
  font-display: swap;
}
*/

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
   scroll-behavior: auth;
}
