[Unit]
Description=t8k mysql backup timer
[Timer]
OnCalendar=daily
# Run just before the rsnapshot
OnCalendar=*-*-* 23:45:00
Persistent=true
[Install]
WantedBy=timers.target
